@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500;700&family=Inter:wght@400;500;600&family=JetBrains+Mono:wght@400;500&display=swap");

html,
body {
  height: 100%;
  background: #0b0c10;
  --font-body: "Inter", sans-serif;
  --font-space-grotesk: "Space Grotesk", sans-serif;
  --font-jetbrains-mono: "JetBrains Mono", monospace;
}
